extends layout

block content
    h1= title
    if items
        table
            tr
                th= 'ID'
                th= 'Tytuł'
                th= 'Data pozyskania'
                th= 'Tryb'
                th= 'Kierunek orbity'
                th= 'Względny numer orbity'
                th= 'Satelita'
                th= 'Rozmiar'
                

            each item in items
                tr(class= item.ID)
                    td= item.ID
                    td= item.Title
                    td= item.Ingestiondate
                    td= item.Mode
                    td= item.Orbitdirection
                    td= item.Relativeorbitnumber
                    td= item.Satellite
                    td= (item.Size/1000000000).toString() + ' GB'
                    td 
                        a(href="#", id=item.ID, title=item.Title, class='removeFromCart') usuń  
    if items
        div(class='formbox')
            p
                button(class='emptyCart') Opróżnij koszyk

            form(action='/newOrder', method='POST')
                input(type="hidden", name="extent", value=extent)
                input(type="hidden", name="resultsString", value=resultsString)
                input(type="hidden", name='token',value=token)
                p Adres e-mail:
                p
                    input(type='email', name='email', value='example@example.com')

                input(type='submit', value='Złóż zamówienie')