extends layout

block content
    script(src="/javascripts/jquery-3.2.1.min.js")
    

    script.
        $(document).ready(function(){

                    var IDs = JSON.parse(Cookies.get('IDs'));
                    $(".itemCount").text("(" + IDs.length + ")")

                    $(".removeFromCart").click(function(){
                        var ID = $(this).attr("id");
                        
                        var index = IDs.indexOf(ID);

                        if (IDs && index > -1){
                            IDs.splice(index, 1);
                        };

                        Cookies.set('IDs', JSON.stringify(IDs));
                        $(".itemCount").text("(" + IDs.length + ")")
                        $('.' + ID).remove();
                    });

                    $(".addToCart").click(function(){
                        var ID = $(this).attr("id");
                        
                        if (IDs){
                            IDs.push(ID);
                        } else {
                            var IDs = [ID];
                        };

                        Cookies.set('IDs', JSON.stringify(IDs));
                        $(".itemCount").text("(" + IDs.length + ")")
                    });

                });

    h1= title
    if items
        table
            tr
                th= 'id'
                th= 'title'
                th= 'ingestiondate'
                th= 'mode'
                th= 'orbitdirection'
                th= 'relativeorbitnumber'
                th= 'satellite'
                th= 'size'
                

            each item in items
                tr(class= item.ID)
                    td= item.ID
                    td= item.Title
                    td= item.Ingestiondate
                    td= item.Mode
                    td= item.Orbitdirection
                    td= item.Relativeorbitnumber
                    td= item.Satellite
                    td= item.Size
                    td 
                        a(href="#", id=item.ID, title=item.Title, class='removeFromCart') usuń