extends layout

block content
    h1= title
    if items
        table
            tr
                th= 'id'
                th= 'title'
                th= 'ingestiondate'
                th= 'mode'
                th= 'orbitdirection'
                th= 'relativeorbitnumber'
                th= 'satellite'
                th= 'size'
                

            each item in items
                tr(class= item.ID)
                    td= item.ID
                    td= item.Title
                    td= item.Ingestiondate
                    td= item.Mode
                    td= item.Orbitdirection
                    td= item.Relativeorbitnumber
                    td= item.Satellite
                    td= item.Size
                    td 
                        a(href="#", id=item.ID, title=item.Title, class='removeFromCart') usuń
    form(action='/newOrder', method='POST')
        textarea(cols="60", name="extent")= extent
        textarea(cols="60", name="resultsString")= resultsString
        input(type='email', name='email', value='example@example.com')
        input(type='text', name='token',value=token)
        input(type='submit', value='Złóż zamówienie')

    