extends layout

block content
    script(type='text/javascript', src='/javascripts/leaflet/leaflet.js')


    h1= title
    if items.length
        div(id='map')
            script.
                !{mapScript}
        table
            tr
                th= 'ID'
                //th= 'Tytuł'
                th= 'Data pozyskania'
                th= 'Tryb'
                th= 'Typ produktu'
                th= 'Kierunek orbity'
                th= 'Względny numer orbity'
                th= 'Satelita'
                th= 'Rozmiar'
                th= '% pokrycia'
                

            each item in items
                tr(class= item.ID)
                    td= item.ID
                    //td= item.Title
                    td= item.Ingestiondate
                    td= item.Mode
                    td= item.Producttype
                    td= item.Orbitdirection
                    td= item.Relativeorbitnumber
                    td= item.Satellite
                    td= (item.Size/1000000000).toString() + ' GB'
                    td= item.Percent
                    td 
                        a(href="https://scihub.copernicus.eu/dhus/odata/v1/Products('" + item.ID + "')/$value") pobierz
                    td 
                        if item.Producttype=='GRD' || item.Producttype=='S2MSI1C'
                            a(href="#", id=item.ID, title=item.Title, class='addToCart') do koszyka
                    //td 
                        //a(href="../crop?extent=" + extent + "&ID=" + item.ID + "&title=" + item.Title) przytnij
